[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
prometheus-client = "*"
prometheus-async = "*"
pyyaml = "*"
furl = "*"
pydantic = "*"
pydantic-settings = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
